.venv/
__pycache__/
*.pyc
node_modules/
dist/
.env
mlruns/
venv/
local_platform.db
deployment/logs/
experiments/manifests/
experiments/runs/
experiments/models/
datasets/generated/
*.log
artifacts/*
!artifacts/offline_sample_random_forest/
!artifacts/offline_sample_random_forest/**
reports/
data/
*.egg-info/
